<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="assets/js/vue.min.js">
        </script>
        <script type="text/javascript" src="assets/js/vuetify.js">
        </script>
        <script src="assets/js/jspdf.js">
            
        </script>
        <link rel=stylesheet href="assets/css/vuetify.css">
        <link rel=stylesheet href="assets/css/materialdesignicons.min.css">
        <link rel=stylesheet href="assets/css/roboto.css">
    </head>
    <body>
        <v-app id="card-application">
            <v-container>
                <v-row justify="center">
                    <v-col cols="12" sm="12" md="6">
                        <v-file-input                            
                            v-model="image_file" 
                            label="إختر الصورة المُراد الكتابة عليها"
                            :rules="[imageSelected, validateWidthAndHeight]"
                            accept=="image/*">
                            
                        </v-file-input>
                    </v-col>
                </v-row>
                <v-row justify="center">
                    <v-col cols="12" sm="12" md="6">
                        <v-text-field 
                            v-model="text_on_img" 
                            label="اكتب النص اللذي تريد عرضه على الصورة"
                            @input="drawText">
                            
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row justify="center">
                    <v-col cols="12" sm="12" md="6">
                        <v-expansion-panels>
                            <v-expansion-panel>
                                <v-expansion-panel-header>
                                    <div>
                                        <v-icon style="width:50px">
                                            mdi-cog
                                        </v-icon>
                                    </div>
                                    خيارات اضافية
                                </v-expansion-panel-header>
                                <v-expansion-panel-content>
                                    <v-row>
                                        <v-col cols="12" sm="12" md="6">
                                            <v-color-picker 
                                                v-model="text_properties.color" 
                                                hide-inputs dot-size="25" 
                                                swatches-max-height="250"
                                                @input="drawText">
                                                
                                            </v-color-picker>
                                        </v-col>
                                        <v-col cols="12" sm="12" md="6">
                                            <v-text-field type="number" v-model="text_position.x" label="X" @input="drawText">
                                                
                                            </v-text-field>
                                            <v-text-field type="number" v-model="text_position.y" label="Y" @input="drawText">
                                                
                                            </v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-expansion-panels>
                    </v-col>
                </v-row>
                <v-row justify="center">
                    <v-col cols="12" sm="12" md="6" style="border: 1px solid; text-align: center">
                        <canvas id="img-canvas" :width="allowed_dim.width" :height="allowed_dim.height">
                            
                        </canvas>
                    </v-col>
                </v-row>
                <v-row align="center" justify="center">
                    <v-col cols="12" sm="12" md="6" style="text-align: center">
                        <v-btn width="50%" @click="saveAsPDF" color="green">
                            حفظ ك بي دي اف
                            <v-icon>
                                mdi-file-pdf-outline
                            </v-icon>
                        </v-btn>
                    </v-col>
                    <v-col cols="12" sm="12" md="6" style="text-align: center">
                        <v-btn width="50%" @click="saveAsJpg" color="green">
                            حفظ كصورة
                            <v-icon>
                                mdi-file-image-outline
                            </v-icon>
                        </v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </v-app>
        <script src="card-application.js"></script>
    </body>
</html>
